<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ $css := resources.Get "css/custom.css" }}
    {{ $style := $css }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $style.RelPermalink }}">
</head>
<body>
    <div id="wrapper">
        
        <aside id="sidebar-menu">
            {{ partial "sidebar-menu.html" . }}
        </aside>
        
        <main id="main-content">
            {{ block "main" . }}{{ end }}
        </main>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/search.js"></script>
</body>
</html>